doctype html
html(lang="en")
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
    //- link(rel='apple-touch-icon' href='images/ui_app_icon.png')

    title MSW_name_PLACEHOLDER screen #{device}
    script(type='text/javascript').
      config = {
        isController: true,
        host: "#{host}",
        device: "#{device}",
        firstStep: "#{firstStep}",
        lastStep: "#{lastStep}",
        stepNames: !{JSON.stringify(stepNames)}
      }
    script(src='/bower_components/lodash/lodash.min.js')
    script(src='/js/socket.io.js')
    script(src='/js/jquery-2.1.3.min.js')
    script(src='/js/multiscreen-client.js')
    script(src='/js/controller.js')
    link(rel='stylesheet' href='/css/main.css')
  body
    h1 Controller

    p This is the app that controls all other devices

    p Current step: &nbsp;
      span#current-step.waiting ...waiting for server connection...

    div
      button#previous previous
      button#next next

    div
      - var index = firstStep - 1;
      while ++index <= lastStep
        button(data-step='#{index}') #{stepNames[index]}
