doctype html
html(lang="en").device
  head
    meta(name='viewport' content='#{layout.viewport}')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='#{layout.appleStatusBarStyle}')
    title MSW_name_PLACEHOLDER #{device}
    script(type='text/javascript').
      config = {
        isController: false,
        host: "#{host}",
        device: "#{device}",
        firstStep: "#{firstStep}",
        lastStep: "#{lastStep}",
        stepNames: !{JSON.stringify(stepNames)},
        script: !{script}
      }
    script(src='/bower_components/lodash/lodash.min.js')
    script(src='/js/socket.io.js')
    script(src='/js/jquery-2.1.3.min.js')
    script(src='/js/multiscreen-client.js')
    link(rel='stylesheet' href='/css/main.css')
  body.device

    if position
      iframe(frameborder="0" data-step-type="iframe" allowfullscreen style=position)
    else
      iframe(frameborder="0" data-step-type="iframe" allowfullscreen)
